body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.BackgroundImg {
  background-image: url("../images/the-flatiron-building.png");
}

#Home nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.White {
  color: white;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

a {
  color: white;
}
